@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_LayoutCustom.cshtml";
}

<div>
    <div class="global-error">
        <h2>出错了。。。</h2>
        <a class="btn btn-link" href="/Home/Index">返回首页</a>
    </div>
</div>
