
@model PhoneComp.Models.CallRecord
@{
    ViewBag.Title = "批量导入通话记录";
    Layout = "~/Views/Shared/_LayoutCustom.cshtml"; 
}

<ol class="breadcrumb">
    <li><a href="/Home/Index">Home</a></li>
    <li><a href="/CallRecord/Index">嫌疑人通话记录</a></li>
    <li class="avtive">批量上传</li>
</ol>
<div class="panel panel-default">
    <div class="panel-heading">
        <h2>嫌疑人通话记录--导入</h2>
    </div>
    <div class="panel-body">
        
        <form name="importform" id="importform" action="" method="post" enctype="multipart/form-data">
            <div style="margin-top: 20px;">
                <fieldset id="myfieldset1">
                    <legend>嫌疑人通话记录--导入</legend>
                    <div class="alert alert-danger hidden" id="Tips">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <strong>Error!</strong><span id="TipsMsg"></span>
                    </div>
                    <div class="form-group ">
                        <label>选择本机号码：</label>
                        @Html.DropDownList("SuspectID", (SelectList)ViewBag.SuspectID, new { @class = "chosen-select", style = "width:140px" })
                        @Html.ValidationMessageFor(model => model.SuspectID)
                    </div>
                    <div class="form-group">
                        <label>选择文件：</label>
                        <input id="files" type="file" name="files" class="btn btn-info validate[required]" />
                    </div>
                    <div class="form-group ">
                        <input type="button" id="btnImport" class="btn btn-success btn-lg active" value="确认导入" />
                    </div>
                    <p style="color: Red; text-align: center;"></p>
                </fieldset>
            </div>
        </form>
        <div>
            <fieldset id="myfieldset">
                <legend>excel模版格式 </legend>
                <div class="alert alert-info">按规定的模板制作您的excel表格</div>
                <div class="row">
                    <div class="col-xs-6 ">
                        <a href="#" class="thumbnail">
                            <img data-src="holder.js/100%x180" src="/Images/importCallRecord.png" alt="联系人模板样式" style="margin-left:10px;">
                        </a>
                    </div>
                </div>
                <a href="/Download/importCallRecord.xls" class="btn btn-primary btn-lg active" role="button">下载模板</a>
            </fieldset>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#btnImport").click(function () {
            var file = $("#files").val();
            if (file == undefined || file == "") {
                $("#TipsMsg").html("请先选择上传的文件!");
                $("#Tips").removeClass("hidden");
            } else {
                $("#TipsMsg").html("");
                $("#Tips").addClass("hidden");
                var formData = new FormData(document.getElementById("importform"));
                messageBox("正在提交，请稍候……");
                $.ajax({
                    url: '/CallRecord/ImportCallRecord',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        formResult(data)
                    },
                    error: function (data) {
                        alert(data);
                    }
                })
            }
        });
    });
</script>